html, body {
    background-color: #f5f3f4;
    height: auto;
    overflow-y: scroll;
}
#wrap {
    border: none;
    box-shadow: none;
}
.headerbar {
    background-image: none;
    background-color: white;
    color: black;
}
#site-description > h1 {
    display: none;
}
#site-description > p {
    clear: both;
    float: left;
    /*
    The logo is 52px circular, with a 10px gap to the right before the text we
    also apply a 10px margin left in CSS and we want this text to line up with
    the text in the logo: 10 + 52 + 10 = 72.
    */
    margin-left: 72px;
    margin-top: -5px;
}
#logo {
    padding: 10px 10px 0;
}
.site_logo {
    background-image: url("./images/logo-text.png");
    background-size: 100%;
    height: 52px;
    padding: 0;
    width: 312px;
}
#search-box {
    background-color: #f5f3f4;
    box-shadow: none;
    margin-top: 15px;
}
.search-header fieldset {
    padding: 0.7em;
}
